{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="page-header"><h2>Data Dictionary: Hacker News</h2></div>

  <p>The Hacker News dataset is provided as a nested set of comments.
    The text can be extracted from the 'text' field.  The timestamp
    can be extracted from the 'time' field.
  </p>

  <br><br>
  
  <div class="table">
  {% if table %}
  {{ table }}
  {% else %}
  <h3>Submit a query!</h3>
  {% endif %}
  </div>
  
</div>
{% endblock %}
