{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="page-header"><h2>Data Dictionary: Reddit</h2></div>

  <p>The raw Reddit data is stored in our SayWhat S3 bucket.  The
    files are JSON, with each file containing the content for a single
    month.  The naming convention for the files follows
    RC_{year}-{month}.
  </p>

  <p>Each source file contains some subset of the following attributes.
  </p>

  <br><br>

  {{ general_dictionary }}

  <br><br>

  <p>Because the data available changes over time, the fields in each
    file will change.  Choose a source file to see the schema for that
    file.
  </p>

  <br><br>
  
  {{ wtf.quick_form(form) }}

  <br><br>
  
  <div class="table">
  {% if table %}
  {{ table }}
  {% else %}
  <h3>Request a data dictionary!</h3>
  {% endif %}
  </div>
  
</div>
{% endblock %}
