{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="page-header"><h2>Sample Application</h2></div>

  <div class="body">
    <p>This is an app that answers the question at the start.
    </p>
    <p>Choose a search term to see the number of comments containing
      the term from each source.
    </p>
  </div>

  {{ wtf.quick_form(form) }}

  <br><br>
  
  <div>
    {% if graph %}
    <img src='{{ graph }}'></img>
    {% else %}
    <h3>Submit a query!</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
